<HTML>
<HEAD>
<TITLE>
Arjun's first page
</TITLE>
Today is: <%=Time.now.strftime('%A')%>
<h1>My name is: <%=%w(Amigo Oscar Viking).sample%> </h1>
<div style= 'border: 3px dashed red'>
<IMG SRC='http://bit.ly/1eze8aE'>
</div>
</HEAD>
</HTML>
